h1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

h3 {
  margin-bottom: 2rem;
}

h5 {
  text-align: center;
}

//colors
$light-dark: rgb(52, 58, 64);
$light: rgb(250, 250, 250);
