.nav-bar__i {
  font-size: 2rem;
}

.nav-bar__link:hover {
  cursor: pointer;
}

.nav-bar__logo {
  background: url(../images/sieve.svg) no-repeat center center;
  background-size: contain;
  height: 2.5rem;
  width: 2.5rem;
}
